@{
    ViewData["Title"] = "Home Page";
    Layout = "_plantilla";
}


 <div class="container mt-5">
      

        <form class="row g-2 align-items-center" asp-action="Guardar" asp-controller="Formulario" method="POST"> 

          <h1 class="text-center">Solicitud de Adopcion</h1>

        <div class="col-6">

          <label class="form-label">Nombres</label>
          <input name="nombre" type="text" class="form-control" placeholder="Nombre">

        </div>

        <div class="col-6">

          <label class="form-label">Apellido Paterno</label>
          <input name="apePat" type="text" class="form-control" placeholder="Apellido Paterno">

        </div>

        
        <div class="col-6">

            <label class="form-label">Apellido Materno</label>
            <input name="apeMat" type="text" class="form-control" placeholder="Apellido Materno">
  
          </div>

           <div class="col-6">
          
            <br>

            <div class="form-check">
                <input  class="form-check-input" type="radio" name="tipo" value="Perro" id="flexRadio">
                <label class="form-check-label" for="flexRadio">
                  Perro
                </label>
              </div>
              <div class="form-check">
                <input  class="form-check-input" type="radio" name="tipo" value="Gato" id="flexRadio2" >
                <label class="form-check-label" for="flexRadiot2">
                  Gato
                </label>
              </div>

        </div>

         
        <div class="col-6">

            <label class="form-label">Telefono: </label>
            <input name="telefono" type="tel" class="form-control" placeholder="telefono">
  
          </div>

        
          
        <div class="col-6">
                
            <label class="form-label">Seleccione su distrito: </label>
           
            <select name="distrito" class="form-select" aria-label="Default select example">
                <option selected disabled>Seleccione...</option>
                <option value="A">Distrito A</option>
                <option value="B">Distrito B</option>
                <option value="C">Distrito C</option>
                <option value="D">Distrito D</option>
              </select>

        </div>

       

        <div class="col-12">

          <label class="form-label">Direccion: </label>
          <input name="dire" type="text" class="form-control" placeholder="direccion">

        </div>

         <div class="col-12">

            <label class="form-label">Descripcion: </label>
            <textarea name="descripcion" class="form-control" id="" cols="30" rows="10"></textarea>
          </div>

       


        <div>

          <button class="btn btn-info" >Enviar</button>

        </div>


      </form>

  </div>