
html {

    box-sizing: border-box;
    font-size: 62.5%;

  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

 
  



 /* MEDIA QUERIES */

  @media(min-width: 0px){

    img {
    
        height: 20rem;

    }

    h5 {
 
      font-size: 2rem;

    }

    p {
  
      font-size: 1rem;

    }

  }

  @media(min-width: 768px){

    img {
    
        height: 30rem;

    }

    h5 {

      font-size: 2.8rem;
  
    }
  
    p {
  
     font-size: 2rem;
  
    }

  }

  @media(min-width: 1140px){

    img {
    
        height: 50rem;

    }

  }



  .texto {

    font-size: 4rem;
    color: black;
    text-align: end;
  }


  

  

 








  